---
import SocialIcon from "@/components/social-icons/index.astro";
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import RootLayout from "./RootLayout.astro";

interface Props {
    content: CollectionEntry<"authors">["data"];
    slug: string;
}

const { name, avatar, occupation, email, github, linkedin, twitter, shortBio } =
    Astro.props.content;
---

<RootLayout title={name} description={shortBio}>
    <div
        class="items-start space-y-2 xl:grid xl:grid-cols-3 xl:gap-x-8 xl:space-y-0"
    >
        <div class="flex flex-col items-center space-x-2 pt-8">
            {
                avatar && (
                    <Image
                        src={avatar}
                        alt="avatar"
                        class="w-60 rounded-2xl drop-shadow-md"
                    />
                )
            }
            <h2 class="pb-2 pt-4 text-2xl font-bold leading-8 tracking-tight">
                {name}
            </h2>
            <div class="text-white">{occupation}</div>
            <div class="flex space-x-3 pt-6">
                {email && <SocialIcon kind="mail" href={`mailto:${email}`} />}
                {github && <SocialIcon kind="github" href={github} />}
                {linkedin && <SocialIcon kind="linkedin" href={linkedin} />}
                {twitter && <SocialIcon kind="twitter" href={twitter} />}
            </div>
        </div>
        <div class="xl:col-span-2 max-w-none d-flex">
            <div class="prose pb-8 pt-8 text-white text-xl">
                <slot />
            </div>
        </div>
    </div>
</RootLayout>
